.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 90%;
}
.character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid black;
  height: 320px;
  width: 200px;
}

.character img {
  padding-top: 10px;
  height: 231px;
  width: 154px;
}

.character p {
  justify-self: center;
  margin: 0;
}
